@mixin AlertBox($color) {
    display: flex;
    flex-direction: column;
    background-color: $color;
    .header {
        background: darken($color, 20%);
        padding: 10px;
        font-size: 1.2rem;
        svg {
            margin: 0 5px;
        }
        .title {
            margin-left: 10px;
        }
    }
    .content {
        padding: 15px;
    }
}

.AlertBox {
    @include AlertBox($error_color);
    &.info {
        @include AlertBox($info_color);
    }
}