.crates-io-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 100vh;
    
    .input-dependency-name {
        flex: 0;
    }

    .dependency-boxs {
        flex: 1;
        padding-bottom: 10px;
        overflow-y: scroll;
    }

}