.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    .buttons {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        >div {
            cursor: pointer;
            margin-left: 10px;
            border-radius: 20%;
            &:hover {
                background: #fff2
            }
        }
    }
}