.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    >.left {
        flex: 0 0 auto;
        display: flex;
    }
    >.right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        .emptyProject {
            width: 100%;
            height: 100%;
            background: $dark2;
            color: $white1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}