.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    >.left {
        flex: 0 0 auto;
        display: flex;
    }
    >.right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        >.editor-container {
            flex: 1;
        }
        >.terminal-window {
            flex: 0;
            flex-basis: 350px;
            width: 100%;
        }
    }
}