$error_color: rgb(255, 105, 105);
$info_color: #7f0;
$dark1: #010409;
$dark2: #0D1117;
$white1: #C9D1D9;
:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    box-sizing: border-box;
}