.filesHeader {
    width: 100%;
    color: $white1;
    min-height: 30px;
    .files {
        position: relative;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
    }
    background: $dark1;
}